{% if messages %}
    <div class="max-w-4xl mx-auto">
        {% for message in messages %}
            {% if message.tags == "error" %}
                {% component "AlertError" %}
                    {{ message|safe }}
                {% endcomponent %}
            {% elif message.tags == "success" %}
                {% component "AlertSuccess" %}
                    {{ message|safe }}
                {% endcomponent %}
            {% elif message.tags == "warning" %}
                {% component "AlertWarning" %}
                    {{ message|safe }}
                {% endcomponent %}
            {% else %}
                {% component "AlertInfo" %}
                    {{ message|safe }}
                {% endcomponent %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}
